@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Oxygen", sans-serif;
}

body {
  margin-top: 20px;
}

header h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

#main-shortner {
  padding-top: 20px;
  background-color: #e9ecef;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 20px;
}

#main-shortner h2 {
  color: #575757;
}

#main-shortner hr {
  border-width: 2px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-color: #b0b0b0;
}

#main-shortner div {
  margin-top: 30px;
}

#main-shortner div label {
  margin-top: 10px;
}

#main-shortner #longlink-div input {
  padding-left: 5px;
}

#main-shortner #shortlink-span span {
  padding: 5px 5px 3px 5px;
  border-radius: 5px 2px 2px 5px;
  background-color: #e9ecef;
  margin-top: 25px;
}

#main-shortner #shortlink-span span input {
  padding: 5px 20px;
  font-size: 1.5em;
}

#main-shortner #submitBtn,
#main-shortner #result {
  margin-top: 20px;
}

#main-shortner #result {
  display: none;
}

#main-shortner #result #result-copy-btn {
  border-radius: 5px;
  border-color: #575757;
}

#stats {
  visibility: hidden;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #fff;
  font-size: 1em;
  text-align: center;
  border-bottom: solid 1px #575757;
}

#stats #stats-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#stats .stat-container {
  display: inline-block;
  padding-left: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

#stats .stat-container .stat-num {
  font-size: 2em;
}

#about {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}

#about h1 {
  color: #575757;
  font-weight: 800;
  text-decoration: underline;
}

#about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about div p {
  font-size: 1.5em;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

#about div img {
  width: 30%;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  text-align: center;
  background-color: #575757;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5em;
}

footer a,
footer a:visited,
footer :active {
  font-weight: 550;
  color: #fff;
}

footer a:on-hover,
footer a:visited:on-hover,
footer :active:on-hover {
  text-decoration: underline;
  color: #fff;
}
