// variables
$text-grey: #575757;
$bg-blue: #1179be;
$bg-orange: #ffaa06;

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Oxygen", sans-serif;
  // border-style: dotted;
}
body {
  margin-top: 20px;
}
header {
  h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
  }
}

#main-shortner {
  padding-top: 20px;
  background-color: #e9ecef;
  font-size: 1.2em;
  text-align: center;
  h2 {
    color: $text-grey;
  }
  hr {
    border-width: 2px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-color: lighten($text-grey, 35%);
  }
  div {
    margin-top: 30px;
    label {
      margin-top: 10px;
    }
  }
  #longlink-div input {
    padding-left: 5px;
  }
  #shortlink-span span {
    padding: 5px 5px 3px 5px;
    border-radius: 5px 2px 2px 5px;
    background-color: #e9ecef;
    margin-top: 25px;

    input {
      padding: 5px 20px;
      font-size: 1.5em;
    }
  }

  #submitBtn,
  #result {
    margin-top: 20px;
  }
  #result {
    display: none;

    #result-copy-btn {
      border-radius: 5px;
      border-color: $text-grey;
    }
  }
  padding-bottom: 20px;
}

#stats {
  visibility: hidden; // becomes visible once data is loaded via JS
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #fff;
  font-size: 1em;
  text-align: center;
  border-bottom: solid 1px $text-grey;

  #stats-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .stat-container {
    display: inline-block;
    // border-style: dashed;
    padding-left: auto;
    flex-grow: 1;
    flex-basis: 33%;

    .stat-num {
      font-size: 2em;
    }
  }
}

#about {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  h1 {
    color: $text-grey;
    font-weight: 800;
    text-decoration: underline;
  }
  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      font-size: 1.5em;
      flex-basis: 500px;
    }
    img {
      width: 30%;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

footer {
  text-align: center;
  background-color: $text-grey;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5em;
  a,
  a:visited,
  :active {
    font-weight: 550;
    color: #fff;
    &:on-hover {
      text-decoration: underline;
      color: #fff;
    }
  }
}
