{% load static %}
<!DOCTYPE html>
<head>
    <title>Cutshort</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple URL Shortner">
    <meta name="keywords" content="cutshort, Rahul Tandon, URL Shortner">
    <meta name="author" content="Rahul Tandon">
    <meta name="google-site-verification" content="nh_nLJNHX28n4YJGud7AuWlbzViLZp0R_UxeKoe8KwI" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177063056-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177063056-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KNCNCKZ');</script>
    <!-- End Google Tag Manager -->
    <link rel="icon" 
    type="image/png" 
    href="{% static '/shortner/favicon-32x32.png' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/shortner/style.css' %}">
    
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNCNCKZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <h1 id="title">
            Cutshort
        </h1> 
    </header>
    

    <section id="main-shortner" >
        <h2>Try it!</h2>
        <div id="longlink-div">
            <label>Link to shorten with https:// or http:// included</label><br>
            <input id="longlink-input" placeholder="https://example.com" onkeyup="verifyLongLink()" />
        </div>
        <hr>
        <span id="shortlink-span">
            <label>Optional Shortlink</label><br>
            <span>cutshort.in/</span><input id="shortlink-input" name="shortlink" onkeyup="verifyShortLink()">
        </span><br><span id="shortlink-status"></span><br>
        <input id="submitBtn" type="submit" onclick="create()" disabled/><br>
        
        
        <div id="result">
            <a id="result-link" target="_blank"></a><br>
            <button id="result-copy-btn" onclick="copyShortlink()">Copy Shortlink URL</button>
            <p id="result-copy-status"></p>
        </div>
    </section>
    
    <section id="stats" onload="getStats()">
        <h2>Stats</h2>
        <div id="stats-wrapper">
            <div class="stat-container">
                <span class="stat-num">0</span><br/>links
            </div>
            <div class="stat-container">
                <span class="stat-num">0</span><br/>clicks
            </div>
            <div class="stat-container">
                <span class="stat-num">0</span><br/>active months
            </div>
        </div>
    </section>


    <!--django docs recommend including this to avoid Cross Site Request Forgery-->
    {% csrf_token %}
        
    <section id="about">
        <h2>What is Cutshort?</h2>
        <div>
            <p>
            Cutshort.in is a URL Shortner.
            <br><br>
            If you have very long URLs you can make them shorter and cleaner.
            <br><br>
            For example
            <a href="https://www.amazon.in/btgalitz-Rick-Roll/dp/B07K6QP8RF/">www.amazon.in/btgalitz-Rick-Roll/dp/B07K6QP8RF/</a>
            can be changed to simply <a href="http://www.cutshort.in/wwrno">cutshort.in/ricky</a>

            <br><br>
            And the guy on the right is me :-)
            </p>
            <img src="{% static '/shortner/rahul.jpg' %}"/>
        </div>
    </section>


    <script src="{% static '/shortner/script.js' %}"></script>
    <footer>
        <p>Made with love by <a href="https://rahultandon.co" target="_blank">Rahul</a> in India.</p>
    </footer>
</body>
</html>
