{% load static %}
<!DOCTYPE html>
<head>
    <title>Cutshort</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple URL Shortner">
    <meta name="keywords" content="cutshort, Rahul Tandon, URL Shortner">
    <meta name="author" content="Rahul Tandon">
    <meta name="google-site-verification" content="nh_nLJNHX28n4YJGud7AuWlbzViLZp0R_UxeKoe8KwI" />
    <link rel="icon" 
    type="image/png" 
    href="{% static '/shortner/favicon-32x32.png' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/shortner/style.css' %}">
</head>

<body>
    <header>
        <h1 id="title">
            Cutshort
        </h1> 
    </header>
    

    <!--django docs recommend including this to avoid Cross Site Request Forgery-->
    <section id="main-shortner" >
        <div id="longlink-div">
            <label>Link to shorten, with https:// or http:// included</label><br>
            <input id="longlink-input" placeholder="https://example.com" onkeyup="verifyLongLink()" />
        </div>
        <hr>
        <span id="shortlink-span">
            <label>Optional Shortlink</label><br>
            <span>cutshort.in/</span><input id="shortlink-input" name="shortlink" onkeyup="verifyShortLink()">
        </span><br><span id="shortlink-status"></span><br>
        <input id="submitBtn" type="submit" onclick="create()" disabled/><br>
        
        
        <div id="result">
            <a id="result-link" target="_blank"></a><br>
            <button id="result-copy-btn" onclick="copyShortlink()">Copy Shortlink URL</button>
            <p id="result-copy-status"></p>
        </div>
    </section>

    {% csrf_token %}
        
    <section id="about">
        <h2>What is Cutshort?</h2>
        <div>
            <p>
            Cutshort.in is a URL Shortner built by Rahul Tandon with love in India. 
            <br><br>
            If you have very long URLs for example
            <a href="https://www.amazon.in/btgalitz-Rick-Roll/dp/B07K6QP8RF/">https://www.amazon.in/btgalitz-Rick-Roll/dp/B07K6QP8RF/</a>
            can be changed to simply <a href="http://www.cutshort.in/wwrno">http://www.cutshort.in/wwrno</a>
            </p>
            <img src="{% static '/shortner/rahul.jpg' %}"/>
        </div>
    </section>


    <script src="{% static '/shortner/script.js' %}"></script>
    <footer>
        <p>oopsie</p>
    </footer>
</body>
</html>
