{% load static %}
<!DOCTYPE html>
<head>
    <title>Hello World</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous"
    >
    
    <link rel="icon" 
    type="image/png" 
    href="{% static '/shortner/favicon-32x32.png' %}">


    <link rel="stylesheet" type="text/css" href="{% static '/shortner/style.css' %}">
</head>

<body>
    <header>
        <h1 id="title">
            Cutshort
        </h1> 
    </header>
    

    <!--django docs recommend including this to avoid Cross Site Request Forgery-->
    <section id="main-shortner" >
        <div id="longlink-div">
            <label>Link to shorten, with https:// or http:// included</label><br>
            <input id="longlink-input" placeholder="https://example.com" onkeyup="verifyLongLink()" />
        </div>
        <hr>
        <span id="shortlink-span">
            <label>Optional Shortlink</label><br>
            <span>cutshort.in/</span><input id="shortlink-input" name="shortlink" onkeyup="verifyShortLink()">
        </span><br><span id="shortlink-status"></span><br>
        <input id="submitBtn" type="submit" onclick="create()" disabled/><br>
        
        
        <div id="result">
            <a id="result-link" target="_blank"></a><br>
            <button id="result-copy-btn" onclick="copyShortlink()">Copy Shortlink URL</button>
            <p id="result-copy-status"></p>
        </div>
    </section>

    {% csrf_token %}
        
    <section id="about">
        <h2>What is Cutshort?</h2>
        <div>
            <p>Cutshort.in is URL Shortner built by KidniKid with love in India</p>
            <img src="{% static '/shortner/rahul.jpg' %}"/>
        </div>
    </section>


    <script src="{% static '/shortner/script.js' %}"></script>
    <footer>
        <p>oopsie</p>
    </footer>
</body>
</html>
